html,
body {
  padding: 10px;
  margin: 0;
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #242526;
}

* {
  box-sizing: border-box;
}

/* Headings / Fonts */
h1, h2 {
  text-transform: uppercase;
}

h1, h2, h3, h4, p {
  margin: 0;
}
