@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-size: 62.5%;
  @apply p-0 m-0;
}

body {
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: lighter;
  @apply bg-dark-grey text-dark-grey text-paragraph p-0 m-0;
}

h1 {
  @apply text-h1;
}

h2 {
  @apply text-h2;
}

h3 {
  @apply text-h3;
}

h4 {
  @apply text-h4;
}

h5 {
  @apply text-h5;
}

h6 {
  @apply text-h6;
}

p {
  @apply text-paragraph;
}

label {
  @apply text-label;
}

ul, li {
 list-style-type: disc;
  list-style-position: inside;
  padding: 10px 0 10px 20px;
  text-indent: -1em;
}

/* CUSTOM TAILWIND COMBINATIONS */

.flex-center {
  @apply flex justify-center items-center;
}

.flex-col-center {
  @apply flex flex-col justify-center items-center;
}

.brand-gradient {
  @apply bg-gradient-to-r from-light-blue to-light-pink;
}

/* CUSTOM CSS */

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
